.HeaderWrapper{
  background-color: #393D3F;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #c8c8c8;
}

.HeaderTitle{
  font-size: 40px !important;
  font-weight: bold !important;
  margin: 10px 0px !important;
  color: #c8c8c8 !important;
  text-decoration: none !important;
}

a.active{
  background-color: black;
}

a.active:hover{
  background-color: rgb(34, 34, 34);
}

@media screen and (max-width:450px) {
  .HeaderTitle{
    font-size: 30px !important;
  }
}