label{
  font-weight: bold !important;
}


.content Form select{
  background-color: white;
  border: 2px solid #b48f30;
  border-radius: 5px;
  padding: 5px 10px;
  font-size:16px;
  cursor: pointer;
}

fieldset{
  border: 0px solid black;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}

fieldset span{
  margin: 100px 0px;
}

.status-input{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button-wrapper{
  display: inline-flex;
  margin-left: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  align-self: center;
  margin-bottom: 10px;
}

.radio-button-wrapper label{
  cursor: pointer;
}

.edit-voucher-header{
  display: flex;
  justify-content: space-between;
}