.scan-voucher-page{
  display: flex;
  align-items: center;
  justify-content: center;
}

.scanner-wrapper{
  width: 40%;
}

@media screen and (max-width:450px) {
  .scanner-wrapper{
    width: 100% !important;
  }
}